---
import Navbar from './Navbar.astro';
import Hero from './Hero.astro';
import Experience from './Experience.astro';
import Skills from './Skills.astro';
import Projects from './Projects.astro';
import Contact from './Contact.astro';
import Footer from './Footer.astro';
import Testimonials from './Testimonials.astro';
import Services from './Services.astro';
---

<body>
    <div class="main-container">
        <Navbar />
       <Hero/>
       <Services/>
       <Experience/>
       <Skills/>
       <Projects/>
       <Testimonials/>
       <Contact/>
        <Footer/>
    </div>

    <script src="../utils/goToSection.js"></script>
  
</body>

<style>
    .main-container {
        min-height: 100vh;
        background: linear-gradient(to bottom, #000000, rgba(59, 7, 100, 0.2), #000000);
        overflow: hidden;
    }
</style>